{{> header}}

  <div class="p-5">

    <div class="container-fluid bg-light pt-3 px-3 pb-5 rounded-3">
      <div class="d-flex justify-content-end">
      {{^authenticated}}
        <a href="/login">
            <button class="btn btn-outline-success" type="submit"> Se connecter </button>
        </a>
        <a href ="/new_user">
            <button class="btn btn-outline-success mx-2" type="submit"> S'inscrire </button>
        </a>
      {{/authenticated}}
      </div>
      <div class="text-center">
        <h1 class="text-black mb-5">La découverte de nos régions</h1>
        <img class="img-fluid mx-auto" src="https://www.campusfrance.org/sites/default/files/styles/mobile_visuel_principal_page/public/carte%20de%20france%20pictos.png?itok=c5KyZCbb">
      </div>
    </div>
  </div>

{{> footer}}
