{{> header}}

  <div class="p-5">

    <div class="container-fluid bg-dark pt-3 px-3 pb-5 rounded-3">
      <div class="d-flex justify-content-end">
      {{^authenticated}}
        <a href="/login">
            <button class="btn btn-outline-success" type="submit"> Se connecter </button>
        </a>
        <a href ="/new_user">
            <button class="btn btn-outline-success mx-2" type="submit"> S'inscrire </button>
        </a>
      {{/authenticated}}
      </div>
      <div class="text-center">
        <h1 class="text-white mb-5">Cuisiner c'est bon pour la santé</h1>
        <img class="img-fluid mx-auto" src="https://cdn.pixabay.com/photo/2016/04/05/20/29/kitchen-1310290_960_720.jpg">
      </div>
    </div>
  </div>

{{> footer}}
